.login-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $system-color;
  .login-header {
    padding: 40px 24px 24px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: bolder;
    color: #ffffff;
  }
  .login-container {
    // height: 100%;
    padding: 40px 24px 0;
    flex: 1;
    background-color: #ffffff;
    border-radius: 24px 24px 0 0;
  }
}
