body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding-bottom: constant(safe-area-inset-bottom);
  /*兼容 IOS<11.2*/
  padding-bottom: env(safe-area-inset-bottom);
  /*兼容 IOS>11.2*/
}

#root {
  width: 100%;
  height: 100%;
}